.PostList {
  &__card-container{
    max-width: 250px;
  }

  &__card-body {
    max-height: 300px;
    height: 100%;
  }

  &__card-title {
    max-height: 160px;
    height: 100%;
  }
}

.navigation {
    &__link {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__item-list {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }

  &__item {
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    z-index: 10;

    & .navigation__link {
      color: #fff;
    }
  }
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
